<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>214922078838-9sfr7lbfdd1mli14n3be2r7q7kaf92qu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.214922078838-9sfr7lbfdd1mli14n3be2r7q7kaf92qu</string>
	<key>API_KEY</key>
	<string>AIzaSyAplQJOvYipNs1ALJ7cPS_t9G1Xsf4pYxA</string>
	<key>GCM_SENDER_ID</key>
	<string>214922078838</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lukwan.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instalgram-9f7aa</string>
	<key>STORAGE_BUCKET</key>
	<string>instalgram-9f7aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:214922078838:ios:6b4a932ab2256f88ce4d57</string>
</dict>
</plist>